<!DOCTYPE html>
<html>
<head>
	<title>Property details</title>
	<link rel="stylesheet" type="text/css" href="../public/css/index.css">
	<link rel="stylesheet" type="text/css" href="../public/css/details.css">
</head>
<body>

	<!-- grid container for the page -->
	<div class="registerGrid">

		<div class="propertyName">
				<!-- property header ie the property name -->
				<p>Green Hill beauty house</p>
			</div>

		<!-- left side platform description -->
		<div class="leftSideContent">

		  <div class="propertyImage">
			<!-- image from css url -->
		  </div>
		  <div class="propertyDescription">
			<p>
				A very beautiful view of the city 
				from your comfort home.
				!Lorem ipsum dolor sit amet,
				 consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et
				 dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ull


				amco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure d
				olor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla
				!lorem
				</p>
		</div>

			
		</div>

		<div class="fullDescription">
		<h1>Description</h1>
		<p>Price: <span>FRW 10000</span></p>
		<p>Status: <span>Avaliable</span></p>
		<p>State: <span>Central Region</span></p>
		<p>City: <span>KIgali</span></p>
		<p>Address: <span> KK 101 6th Avenue</span></p>
		<p>Listing Type: <span>Rental</span></p>
		<p>Property Type: <span> Apartment</span></p>
		<p>Property Owner: <span> UK45</span></p>
		
			
		</div>
		
		<!-- signup form div -->
		<div class="sendMessage">
			<a id="closeTab" href="index.html">X</a>
			<h1>Interested in this property? </h1>
			<form action="#" method="POST" enctype="multipart/form-data">
			
				<label for="fname">First Name</label><br>
				<input type="text" name="fname" placeholder="enter first name" required><br>

				<label for="lname">Last Name</label><br>
				<input type="text" name="lname" placeholder="enter last name" required><br>

				<label for="email">Email</label><br>
				<input type="email" name="email" placeholder="enter email" required><br>

				<label for="number">Mobile Number</label><br>
				<input type="number" name="number" placeholder="enter contact number" required><br>

				<label for="message">Message</label><br>
				<textarea name="message" rows="5" ></textarea>

                 
                 <input id="submitButton" type="submit" name="submit" value="Send Message">
                
				


				
			</form>

		</div>

		<!-- page footer -->
		<div class="footer">
			<footer class="footer"> 
				&copy; 2019  PProLite network
			</footer>
		</div>
		
	</div>
</body>
</html>