html{
			background: #aaa;
		}
		form{
             margin-left: 25%;
            
		}

		form>label, form>input{
			width: 50%;
			height: 4vh;
		
		}
		
		form>select{
			width: 50.5%;
			height: 5vh;
		}
		form>textarea{
			width: 49.5%;
		}

		form>input, form>select, form>textarea{
			
			display: flex;
			
			background:#ddd;
			font-family: sans-serif;
			font-size: 14px;
		}
       #postButton{
       	background: green;
       	color: white;
       	margin-bottom: 5%;
       }